@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
}

.encabezado {
    background-color: #1CD1B0;
    position: relative;
    display: block;
    height: 38px;
    width: 1024px;
}

.encabe {
    font-family: 'Roboto';
    color: #000000;
    text-align: left;
    line-height: 18px;
    padding: 10px;
    font-style: normal;
    font-weight: bold;

}

.heroes {
    background-color: #00669f;
    width: 1024px;
    height: 101px;
    top: 38px;
}

.titulo {
    font-family: 'Roboto';
    color: #000000;
    line-height: 47px;
    padding: 28px;
    font-style: normal;
    font-weight: bold;
}

.espacios {
    height: 150px;
}

.caja1 {
    position: relative;
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
    margin: 193px 0px 0px 32px
}

.caja2 {
    position: relative;
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
    margin: 193px 30px 0px 30px;
}

.caja3 {
    position: relative;
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
    margin: 193px 0px 0px 0px;
}

.baticueva {
    position: absolute;
    display: inline-block;
    bottom: 336px;
    z-index: 1;
}

.batman {
    position: absolute;
    display: inline-block;
    border-radius: 120px;
    bottom: 276px;
    left: 90px;
    z-index: 2;
}

.cora {
    position: absolute;
    display: inline-block;
    bottom: 486.88px;
    left: 21px;
    z-index: 3;
}

.pie {
    background-color: #00669F;
    position: relative;
    display: block;
    height: 51px;
    width: 1024px;
}

.titulo2 {
    position: absolute;
    display: inline-block;
    bottom: 227px;
    left: 90px;
    line-height: 35px;
    width: 122px;
    font-family: 'Roboto';
    letter-spacing: 6px;
    font-weight: bold;
}

.titulo3 {
    position: absolute;
    display: inline-block;
    bottom: 227px;
    font-family: 'Roboto';
    left: 70px;
    line-height: 35px;
    width: 171px;
    letter-spacing: 2.5px;
    font-weight: bold;
}


.texto {
    position: absolute;
    display: inline-block;
    bottom: 104px;
    left: 16px;
    line-height: 19px;
    width: 267px;
    height: 113px;
    font-family: 'Roboto';

}

.ver {
    position: absolute;
    display: inline-block;
    background-color: #00669F;
    width: 128.78px;
    height: 48.52px;
    left: 85px;
    bottom: 18.48px;
}

.mas {
    color: #F3F3F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    position: absolute;
    width: 58px;
    left: 37px;
    bottom: 15.52px;
}

.text {
    position: absolute;
    padding: 16px;
    color: #fff9f9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}